[defaults]
inventory = ~/homelab/ansible/inventory/hosts.local.yml
remote_user = username_example
host_key_checking = True
known_hosts_file = ~/.ssh/known_hosts
retry_files_enabled = False
private_key_file = ~/.ssh/ansible_key
vault_password_file = ~/.vault_pass
roles_path = roles
interpreter_python = /usr/bin/python3.12

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new

[privilege_escalation]
become = True
become_method = sudo
become_user = root
